@model IEnumerable<HomeManagement.Models.UserIdentityModel>

@{
    ViewData["Title"] = "Index";
}

<partial name="/Views/Shared/_Header.cshtml" />
<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        <h2>Users </h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>
<partial name="/Views/Shared/_Footer.cshtml" />