@model IEnumerable<HomeManagement.Domain.Preferences>

@{
    ViewData["Title"] = "Index";
}

<partial name="/Views/Shared/_Header.cshtml" />
<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        <h2>Users Preferences</h2>
        <br />
        <p>
            <a asp-action="Add">Add</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Key)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Value)
                    </th>
                    <th>
                        User
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Key)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.User.Email)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </main>
</div>
<partial name="/Views/Shared/_Footer.cshtml" />